* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    text-align: center;
    vertical-align: text-bottom;
    display: flex;
    justify-content: center;
    border-bottom: solid #0E1254 10px;
    align-items: flex-end;
    /* position: fixed; */
}
.mobileHeader {
    display: flex;
}
.logoDiv {
    width: 75px;
    height: 75px;
    position: relative;
    bottom: -5px;
    background: white;
}
.logoDiv img {
    width: 50px;
}
.logoDiv p {
    font-size: 12px;
    font-weight: 600;
}
.headline {
    color: #4F99FA;
    font-size: 12px;
    font-weight: 600;
    margin: 5px 30px;
    padding-right: 20px;
    border-right: solid #EBEBEB 3px;
}
.headline span {
    color: #0E1254;
    font-size: 30px;
    font-weight: 600;
}
.x {
    display: none;
}
.menu {
    display: flex;
    padding: 5px;
    list-style-type: none;
}
.menu li {
    padding: 0 35px;
    font-weight: 400;
}
.mobileLinksHeader {
    display: none;
}

/* HOME */
.section {
    height: 800px;
}
.home {
    background-image: url("https://images.unsplash.com/photo-1551632811-561732d1e306?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    
}
.gradient {
    height: 100%;
    background-image: linear-gradient(to bottom right, #528BBD, rgba(255,0,0,0))
}
.home h1 {
    position: relative;
    top: 35%;
    left: 10%;
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.home h1 span {
    font-size: 20px;
    font-weight: 300;
}

/* INSIGHTS */
.insights {
    background: #EBEBEB;
}
.insights h2, .tagline {
    position: relative;
    left: 10%;
    font-weight: 300;
}
h2 {
    padding-top: 40px;
    font-weight: 300;
}
.insightTiles {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.tile {
    height: 280px;
    width: 280px;
    padding: 20px;
    background-color: white;
    border-bottom: solid 15px #3758D3;
    margin: 10px;
}
.tile img {
    width: 100%;
}
.tile h3 {
    padding: 10px;
    font-size: 30px;
    color: #3758D3;
}
.outlook {
    
    border-bottom: solid 15px #45A49C;
}
.outlook h3 {
    color: #45A49C;
}
.capital {
    border-bottom: solid 15px #4F99FA;
}
.capital h3 {
    color: #4F99FA;
}

/* CONTACT US */
.contact {
    background-color: #3758D3;
    border: linear-gradient(#0E1254, rgba(255,0,0,0));
}
.contact h3 {
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 25%;
}
.contactText {
    color: white;
    text-align: center;
    margin: 10px;
}
button {
    background-color: #3758D3;
    width: 150px;
    padding: 5px;
    color: white;
    border: solid white 1px;
    
}
.contact button {
    margin-left: 40%;
    margin-top: 20px
}

/* EVENTS */
.events {
    background-color: #EBEBEB;
}
.events h2 {
    position: relative;
    left: 10%;
}
.eventTilesSection {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.eventTilesSection .tile {
    height: 175px;
    background-color: #3758D3;
    /* margin-top: 20px; */
    color: white;

}
.date {
    width: 75px;
    height: 60px;
    background-color: #0E1254;
    position: relative;
    top: -40px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.date span {
    font-size: 35px;
    font-weight: 600;
}
.p1 {
    font-weight: 600;
    font-size: 25px;
}
.p2 {
    font-size: 13px;
    margin-bottom: 20px;
}
.city {
    text-align: right;
    padding-right: 10px;
}

/* FOOTER */
footer {
    height: 100px;
    background-color: grey;
    color: #EBEBEB;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
footer div {
    margin: 20px;
}
/* RESPONSIVENESS */
@media screen and (max-width: 425px) {
    header {
        display: grid;
        border: none;
        grid-template-columns: 90%;
    }
    .mobileHeader {
        display: flex;
        justify-content: center;
    }
    .logoDiv {
        display: flex;
        justify-content: center;
        height: auto;
        width: auto;
    }
    .logoDiv img {
        height: 50px;
    }
    .headline {
        display: none;
    }
    .x {
        display: block;
        position: relative;
        right: -125px;
        color: red;
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    .menu {
        display: grid;
    }
    .menu li {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 5px;
    }
    .mobileLinksHeader {
        display: block;
    }
    .menuItems {
        background-color: #EBEBEB;
        /* width: 90%; */
    }
}